scipy
numpy
pyaudio
webrtcvad
PyYAML==6.0
rhvoice-wrapper==0.7.1
## whispercpp @ git+https://github.com/aarnphm/whispercpp.git@main
## llama-cpp-python @ git+https://github.com/abetlen/llama-cpp-python.git@main


