scipy
numpy
webrtcvad
pytest
PyYAML==6.0
reactivex>=4.0
pydantic>=1.10
cyclotron>=2.0.0
cyclotron-std>=2.0.0
rhvoice-wrapper==0.7.1
whispercpp @ git+https://github.com/aarnphm/whispercpp.git@main
llama-cpp-python @ git+https://github.com/abetlen/llama-cpp-python.git@main


